@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;900&display=swap');

:root {
    --backgroundColor: #0B0A0C;
    --secondaryBackgroundColor: #1A2028;
    --gradientAccent: linear-gradient(45deg, #FF602C, #FF05FF);
    
}

::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }

html, body {
    background: var(--backgroundColor);
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

header {
    width: 100%;
    height: 80px;
    background: var(--secondaryBackgroundColor);
    display: flex;
    align-items: center;
    border-bottom: solid #2C323C 2px;
}

header h2 {
    color: #FFFFFF;
    margin: 0;
    padding-left: 20px;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: auto;
    color: #FFFFFF;
}

footer p {
    font-size: 14px;
}

p {
    font-weight: 300;
}

.container {
    width: 350px;
    height: 550px;
    background-color: #1A2028;
    display: flex;
    align-items: center;
    flex-direction: column;
    border: double 3px transparent;
    border-radius: 10px;
    background-image: linear-gradient(#1A2028, #1A2028), 
                        var(--gradientAccent);
    background-origin: border-box;
    background-clip: content-box, border-box;
    margin: auto 0;
}

.container h2, h3, h4, ul, p, ul {
    color: #FFFFFF;
    text-decoration: none;
}

.container h2 {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.container h2 p {
    color: red;
}

.container .download {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container h3, h4, p, ul {
    margin: 0px;
}

.container img {
    width: 300px;
    margin: auto;
}

.container h4 {
    font-weight: 400;
}

.container ul {
    width: 80%;
    margin: auto;
    font-weight: 300;
}

.container a {
    display: flex;
    flex-direction: row;
    background-image: var(--gradientAccent);
    border-radius: 20px;
    padding-left: 10px;
    padding-right: 10px;
    margin: auto;
}

.container a:link {
    text-decoration: none;
}

.container h3 {
    font-weight: 500;
}

.container #icn {
    width: 60px;
}

.container #message {
    margin: auto;
}